os: linux
dist: xenial
group: stable
language: python
before_install:
  - sudo apt-get update
  - sudo apt-get install -y libgirepository1.0-dev
  - sudo apt-get install python3-gi python3-dbus
python:
  - '3.7'
  - '3.6'
install:
  - sed -i "s/PROJECTVERSION/`python get_build_version.py`/g" setup.py
  - pip3 install .
script:
- echo "need to run tests here instead of echoing as its UNRELIABLE"
jobs:
  include:
    - stage: deploy-release
      python: '3.7'
      deploy:
        skip_cleanup: true
        provider: pypi
        user: chestm007
        password:
          secure: "g4qbZJ1Q82RilhEllLj9BLOYwKTLxow+miyR2Al26UgMr27QqWhPozKEjQbO5Nqb0VX15b9jIWTX3Dl79hULfOiWvuMsNJODvTf7S3XVqPj22UCrks4H5kA7oIoo+dta6dHGFUeVmhwnH2j4vbSUXrhIRyD5flgAqxBzAGE0nLOy0UlDl9/GuUDs+i/tbXzqXcQM5PcXliUgq51kXYo3e3mt0WrkhuImo4y3IanpvK7C0Wav2n4HtlATjTXHtSzxAiJdlFvisbSjGEI0Jh3S5A+fJ4Z5Q5v4oQbcUS3Tnle1BeBI1j8cGEeXskXRO5YhFZNwnOW6HE5qkDiSyoTIpnhhDSIRwXJudWKoTwTwwUG/ewsElLA8FJABFEzJ7lLbSiwOyIouRYVrA0gK9+cZuAtwu/7uSTr9H9PEMq/+4hsNLF5VsTGv62cVX76xWcXiqZhpR4i/91JfLJSR2zW5288xZU04zm2zxQHntmcWL2Olaf2LVOFbK7+T0UI2Na9FHkTADz0VWjt/uRauE0c86cV+vVuSTsUiIcoZgg7ZBD3xn/Mho2ZZ55KfPz99ma/ofscjeoIZKUr3FAUzllgaefYBew/8sMtCrutRzPVIhsIiSbAHuvWLXt1y0NxrrWVHac8siYTmRVnWbCM+XBhHnKqyUQZnP+KspntQewN3BEI="
        on:
          branch: master
          tags: true
    - stage: deploy-dev
      python: '3.7'
      deploy:
        skip_cleanup: true
        provider: pypi
        user: chestm007
        password:
          secure: "g4qbZJ1Q82RilhEllLj9BLOYwKTLxow+miyR2Al26UgMr27QqWhPozKEjQbO5Nqb0VX15b9jIWTX3Dl79hULfOiWvuMsNJODvTf7S3XVqPj22UCrks4H5kA7oIoo+dta6dHGFUeVmhwnH2j4vbSUXrhIRyD5flgAqxBzAGE0nLOy0UlDl9/GuUDs+i/tbXzqXcQM5PcXliUgq51kXYo3e3mt0WrkhuImo4y3IanpvK7C0Wav2n4HtlATjTXHtSzxAiJdlFvisbSjGEI0Jh3S5A+fJ4Z5Q5v4oQbcUS3Tnle1BeBI1j8cGEeXskXRO5YhFZNwnOW6HE5qkDiSyoTIpnhhDSIRwXJudWKoTwTwwUG/ewsElLA8FJABFEzJ7lLbSiwOyIouRYVrA0gK9+cZuAtwu/7uSTr9H9PEMq/+4hsNLF5VsTGv62cVX76xWcXiqZhpR4i/91JfLJSR2zW5288xZU04zm2zxQHntmcWL2Olaf2LVOFbK7+T0UI2Na9FHkTADz0VWjt/uRauE0c86cV+vVuSTsUiIcoZgg7ZBD3xn/Mho2ZZ55KfPz99ma/ofscjeoIZKUr3FAUzllgaefYBew/8sMtCrutRzPVIhsIiSbAHuvWLXt1y0NxrrWVHac8siYTmRVnWbCM+XBhHnKqyUQZnP+KspntQewN3BEI="
        on:
          branch: master
