[Unit]
AssertPathExists=/etc/linux_thermaltake_rgb/config.yml

[Service]
EnvironmentFile=-/etc/default/linux-thermaltake-rgb

ExecStart=/usr/bin/linux-thermaltake-rgb

Restart=always
RestartSec=5s

CapabilityBoundingSet=
NoNewPrivileges=yes
PrivateUsers=true
PrivateTmp=yes
PrivateDevices=no
DevicePolicy=closed
DeviceAllow=char-usb_device
ProtectSystem=strict
ProtectHome=true
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes
RestrictNamespaces=yes
MemoryDenyWriteExecute=yes
LockPersonality=true
SystemCallArchitectures=native
SystemCallFilter=@system-service

[Install]
WantedBy=default.target
