[Unit]
AssertPathExists=/etc/linux_thermaltake_rgb/config.yml

[Service]
WorkingDirectory=/
ExecStart=/usr/bin/linux-thermaltake-rgb
Restart=always
PrivateTmp=true
NoNewPrivileges=true

[Install]
WantedBy=default.target
